.marketing-services {
    margin: 40px 0;

    &__content {
        margin: 0 auto;
        width: 828px;
    }

    &__title {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        margin-bottom: 16px;

        &-highlight {
            color: #FF5001;
        }
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #525252;
        width: 828px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 43px 15px;
        padding-top: 50px;
    }

    &__item {
        position: relative;
        padding: 36px 16px 12px;
        border: 1px solid #E3E3E3;
        border-radius: 12px;
        width: fit-content;

        &-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
        }

        &-img {
            position: absolute;
            top: -50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, .06);
            width: 56px;
        }

        &.active,
        &:hover {
            background-color: #013088;
            color: #ffff;
        }
    }

    &__dinamic-content {
        margin-top: 32px;
        
        &-item {
            display: flex;
            gap: 16px;

            &-img {
                object-fit: cover;
                border-radius: 18px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 24px;
                border: 1px solid #E3E3E3;
                background-color: #E3E3E3;
                padding: 24px;
                border-radius: 18px;
            }

            &-description {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #525252;
            }

            .button--secondary {
                gap: 8px;
            }
        }
    }

    @media (max-width: 1080px) {
        &__title {
            font-size: 24px;
            font-weight: 900;
            line-height: 30px;
        }

        &__content,
        &__description {
            width: 100%;
        }

        &__list {
            overflow-x: scroll;
            flex-wrap: nowrap;
        }

        &__item {
            min-width: fit-content;
            height: fit-content;
        }

        &__dinamic-content {
            &-item {
                flex-direction: column;

                &-img {
                    width: 100%;
                }
            }
        }
    }
}

.hidden {
    display: none;
}