.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
}

.button--primary {
    @extend .button;
    background-color: #FF5001;
    padding: 11px 26px;
}

.button--secondary {
    @extend .button;
    background-color: #013088;
    padding: 16px 24px;
}
